<div *ngFor="let job of jobListData">
    <div class="card">
        <div class="card-image">
          <img [src]="'assets/images/photosnap.svg'" alt="Image" />
        </div>
        <div class="card-details">
          <div class="name"> photosnap </div>
          <div class="title"> Seniro Frontend Developer </div>
          <div class="text"> tres  </div>
        </div>
        <div class="card-buttons">
          <button> dos</button>
          <button> tres</button>
        </div>
      </div>
      
</div>
